* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    display: block;
}

.barrasup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    
}

.barrasup> ul{
display: flex;
gap: 30px;
}

li{
    list-style: none;
}


.naranja {
    background-color: #F0A83E;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    
}

.barramenu i{
    margin: 5px;
}

.banner-conten{
    height: 600px;
    background-image: url(img/ppal.png);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 50px;
   
    
}
.banner-conten h2 {
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.8px;
    width: 350px;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.front {
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    gap: 20px
}


.botom {
    background-color: #F0A83E;
    width: 141px;
    height: 49px;
    left: 1067px;
    top: 374px;
    border-radius: 5px;
    border-color: #F0A83E;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.patacentral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;

}

.letra-color {
    color: #F0A83E;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2,
h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.prod {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

.contacto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

input{
    width: 300px;
    height: 40px;
    background-color: #3c2313;
    border: solid 1px #3c2313;
    border-radius: 15px;
    color: white;
    letter-spacing: 0.5px;
    padding: 10px;
}


div.cajas {
    width: 450px;
    height: 250px;
    font-size: 12px;

}

.datos {
    box-sizing: border-box;
    position: relative;
    left: 450px;
    background-color: #3C2313;
    text-align: left;
    color: white;
    border-radius: 20px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 2%;
}


.botones {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.boton1 {
    background-color: #686766;
    border-radius: 25px;
    padding: 12px;
    font-size: 16px;
    width: 110px;
    height: 44px;
    text-align:  center;
    color: white;
    text-decoration: none;
}

.boton2 {
    background-color: #F0A83E;
    border-radius: 25px;
    padding: 12px;
    font-size: 16 px;
    width: 110px;
    height: 44px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.boton1:hover{
    background-color:#F0A83E ;
}

.boton2:hover{
    background-color: #686766;
}
.suscrip {
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    margin-top: 20px;
    padding: 25px;
}

.suscripleft {
    display: flex;
    gap: 25px;
    align-items: center;
}

.mail {
    background-color: white;
    color: black;
    border-radius: 15px;
    width: 350px;
    height: 35px;
    padding: 6px;
}

.correo {
    background-color: #3C2313;
    border-radius: 15px;
    width: 100px;
    height: 35px;
    padding: 6px;

}

.pie {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}


footer {
    background-color: #3C2313;
    color: white;
    display: flex;
    flex-direction: column;
}

.info-pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.content2{
    height: auto;
    flex-direction: column;
    gap: 20px;
}

.local {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tel{
    display: flex;
    align-items: center;
    gap: 10px;
}

.adress{
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-pie h3{
    color: white;
}

.final {
    display: inline;
    background-color: #000000;
    padding: 0%;
    text-align: center;
    width: 100%;
}