* {
    text-decoration: none;
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
    
}

.logo img{
    width: 75px;
    height: 75px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 100px;
    width: 100vw;
    background-color: rgb(27, 121, 149);
    color: white;
    font-family: 'Dongle', sans-serif;
}

.logo{
    display: flex;
    gap: 25px;
}

.logo div{
    margin-top: 20px;
    font-weight:bold;
}

.menu nav ul{
    display: flex;
    gap: 15px;
    list-style:none;
}

main{
    background-image: url(img/4863446.jpg);
    height: 50vw;
    background-position: center;
    background-size: cover;
}

.atajos{
   display: flex;
   flex-direction: column;
   width: 150px;
   gap: 15px;
   margin-top: 45px;
   float: right;
   margin-right: 55px; 
}

button{
    background-color: rgb(27, 121, 149);
    border: beige;
    border-radius: 5px;
    height: 35px;
}

.atajos a{
    color: white;
    font-family: 'Dongle', sans-serif;
}

button:hover {
background-color: rgb(13, 42, 70);
}

a:hover{
    color: rgb(66, 201, 255);
}

footer{
    background-color: rgb(99, 145, 163);
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.pie{
    background-color: white;
    width: 85px;
    margin: 5px;
}