* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin-top: 0%;
}

main {
    background-color: #42D1D5;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;

}

div {
    background-image: url(img/4863446.jpg);
    display: flex;
    flex-direction: row-reverse;
    background-size: cover;
    text-align: center;
    
}

.caja1 {
    display: block;
    background-color: rgb(70, 139, 167);
    color: white;
    padding: 30px;
    margin: 10px;
    
}

.caja2 {
    display: block;
    background-color: rgb(40, 67, 131);
    color: white;
    padding: 30px;
    margin: 10px;

}

.caja3 {
    display: block;
    background-color: #1a3e58;
    color: white;
    padding: 30px;
    margin: 10px;
    
}

.caja4 {
    display: block;
    background-color: #296ea0;
    color: white;
    padding: 30px;
    margin: 10px;
    
    

}

.caja5 {
    display: block;
    background-color: #456e69;
    color: white;
    padding: 30px;
    margin: 10px;
    
}
.caja6 {
    display: block;
    background-color: #5ecace;
    color: white;
    padding: 30px;
    margin: 10px;
    
}.caja7 {
    display: block;
    background-color: #1a3e58;
    color: white;
    padding: 30px;
    margin: 10px;
    
}
.fot {
    background-color: #1ab6bb;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: center;


}