* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin-top: 0%;
}

main {
    background-color: #42D1D5;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;

}

div {
    display: flex;
    flex-direction: row-reverse;
    background-image: url(img/4863446.jpg);
    background-size: cover;
    text-align: center;
    align-items: flex-end;
}

.caja1 {
    display: block;
    background-color: rgb(70, 139, 167);
    color: white;
    padding: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 20px;
    ;
}

.caja2 {
    display: block;
    background-color: rgb(40, 67, 131);
    color: white;
    padding: 40px;
    margin-bottom: 10px;
    margin-top: 35px;
    margin-right: 20px;

}

.caja3 {
    display: block;
    background-color: #1a3e58;
    color: white;
    padding: 40px;
    margin-bottom: 10px;
    margin-top: 35px;
    margin-right: 20px;
}

.caja4 {
    display: block;
    background-color: #1a3e58;
    color: white;
    padding: 40px;
    margin-bottom: 20px;
    margin-top: 35px;
    margin-right: 20px;
}

.fot {
    background-color: #42D1D5;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: center;


}