
*{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
}




@media screen {min-width: 375px;

    header nav{
    display: none;
}



}