

#LogoFE {
    margin: 20px;
    width: 100px;
    height: 200 px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
    text-align: left;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: absolute;
    padding-left: 15px;
    

}

.banner {
    background-image: url(img/lemon-pie.jpg);
    padding-top: 130px;
    padding-left: 10px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 343px;
    font-size: 18px;

}
p {
    font-family: 'Montserrat', sans-serif;
}

section.ing {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3, h2 {
    font-family: 'Dancing Script', cursive;
    max-width: 90%;
    margin: 20px auto;
    font-weight: 800;
}

ul {
    max-width: 90%;
    }

.inst{

background-image: url(img/Lemon2.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}

ol{
    font-size: 20px;
    font-weight: bold;
    padding: 5%;
}

.inst h2{
padding-top: 5%;
text-align: center;
}
footer{
    text-align: center;
}