* {
    margin: 0;
}

#LogoFE {
    width: 100px;
    height: 200 px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
    text-align: left;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: absolute;
    padding-left: 15px;
    

}

.banner {
    background-image: url(img/lemon-pie.jpg);
    padding-top: 130px;
    padding-left: 10px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 343px;
    font-size: 18px;

}

p {
    font-family: 'Montserrat', sans-serif;
}

section.ing {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c7c222' fill-opacity='0.19' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

h3, h2 {
    font-family: 'Dancing Script', cursive;
    max-width: 90%;
    margin: 20px auto;
}

ul {
    max-width: 90%;
    }

section.inst {
    background-image: url(img/Lemon2.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    opacity: 0.5;
    font-weight: bold;

}

