*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
header, footer{
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    
}

.logo{
    display: flex;
    align-content: center;
    gap: 20px
}
nav{
  color: aliceblue;
  display: flex;
  gap: 10%;
  margin-right: 110px
  
}
footer{
    display: flex;
    justify-content: space-between;
}
main{
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
    padding-left: 55px;
    padding-right: 95px;

}


.podio{
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.podio p{
    font-size: 25px;
    text-align: center;
    margin-top: 1px;
    font-weight: bold;
    margin-right: 55px;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer div{
    display: flex;
    gap: 25px;

}