*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    
    
}
header, footer{
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    
}

.logo{
    display: flex;
    gap: 20px
}

.logo h2 {
    padding: 22px;
}

nav{
  color: aliceblue;
  display: flex;
  gap: 10%;
  margin-right: 110px
  
}
footer{
    display: flex;
    justify-content: space-between;
}
main{
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
    padding-left: 55px;
    padding-right: 95px;
    margin-bottom: 65px;

}

div ol{
    margin-top: 15px;
}

.envio{
    position: absolute;
    margin-top: -345px;
    margin-left: 90px;
    font-size: 18px;
    font-weight: bold;
}
.podio{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   
}

.podio p{
    font-size: 25px;
    text-align: center;
    margin-top: 12px;
    font-weight: bold;
    margin-right: 16px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer div{
    display: flex;
    gap: 25px;
}

footer h2{
    padding: 25px;
}